/out/
/locations.txt
/directions.txt
/location.dat
/locations_big.txt
/locations2.dat
/locations_rand.dat
/locations.dat
/data.dat
/datacopy.dat
/files/SubDirectoryFile.txt
/WorkingDirectoryFile.txt
/Example/file2.txt
/Example/Dir4/Dir2Copy/Dir3/file1.txt
/Example/Dir4/Dir2Copy/file1.txt
/Example/Dir4/Dir2Copy/Dir3/file2.txt
/Example/Dir4/Dir2Copy/file2.txt
/Example/Dir4/Dir2Copy/file3.dat
